/* =====================================================
   COLOR SYSTEM
===================================================== */
:root {
   /* =====================================================
       PRIMARY COLOR
    ===================================================== */
   --primary: #2563EB;
   --primary-light: #DBEAFE;
   /* =====================================================
       STATUS COLOR
    ===================================================== */
   --success: #22C55E;
   --warning: #F59E0B;
   --danger: #EF4444;
   /* =====================================================
       LIGHT THEME
    ===================================================== */
   --background: #F8FAFC;
   --surface: #FFFFFF;
   --surface-hover: #F1F5F9;
   --text-primary: #0F172A;
   --text-secondary: #475569;
   --text-muted: #94A3B8;
   --border: #E2E8F0;
   --shadow:
      0 8px 24px rgba(15, 23, 42, .06);
}

/* =====================================================
   DARK THEME
===================================================== */
body.dark {
   --background: #0F172A;
   --surface: #1E293B;
   --surface-hover: #334155;
   --text-primary: #F8FAFC;
   --text-secondary: #CBD5E1;
   --text-muted: #94A3B8;
   --border: #334155;
   --shadow:
      0 10px 30px rgba(0, 0, 0, .35);
}