/* ==========================================
   Notification Bell Shake
========================================== */
@keyframes notificationBell {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(8deg);
    }

    45% {
        transform: rotate(-6deg);
    }

    60% {
        transform: rotate(4deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.notification-bell {
    animation: notificationBell .8s ease;
    transform-origin: top center;
}