/* =====================================================
   LOADING
===================================================== */
.loading {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 6px solid #E2E8F0;
    border-top: 6px solid #2563EB;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}