/* =====================================================
   SKELETON
===================================================== */
.skeleton {
    position: relative;
    overflow: hidden;
    background: #E2E8F0;
}

.skeleton::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background:
        linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, .7),
            transparent);
    animation: skeleton 1.3s infinite;
}

@keyframes skeleton {
    100% {
        transform: translateX(100%);
    }
}